* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.43;
}

body {
  max-width: 1440px;
  margin: auto;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

.blueBtn {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  background-color: #0276B3;
  border: 1px solid #0276B3;
  border-radius: 0;
  padding: 15px 20px;
  min-height: 50px;
  width: 270px;
  margin: 4rem auto 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.blueBtn:hover {
  background-color: #ffffff;
  border-color: #0276B3;
  color: #0276B3;
}

.redBtn {
  display: inline-block;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  background-color: #D92E14;
  border: 1px solid #D92E14;
  border-radius: 0;
  padding: 15px 20px;
  min-height: 50px;
  width: 270px;
  margin: 4rem auto 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.redBtn:hover {
  background-color: #ffffff;
  border-color: #D92E14;
  color: #D92E14;
}

.whiteBtn {
  display: inline-block;
  color: #0276B3;
  font-size: 16px;
  font-weight: normal;
  background-color: #ffffff;
  border: 1px solid #0276B3;
  border-radius: 0;
  padding: 15px 20px;
  min-height: 50px;
  width: 270px;
  margin: 1rem auto 0;
  text-align: center;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.whiteBtn:hover {
  background-color: #ffffff;
  border-color: #102B4E;
  color: #102B4E;
}

.heading {
  color: #333333;
  font-size: 42px;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

@media screen and (max-width: 992px) {
  .heading {
    font-size: 3.6rem !important;
  }
}

@media screen and (max-width: 768px) {
  .heading {
    font-size: 3rem !important;
  }
}

@media screen and (max-width: 480px) {
  .heading {
    font-size: 2.4rem !important;
  }
}

.header-fix {
  left: 0;
  max-width: 100%;
  overflow: visible;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 99999;
}

header {
  background: white;
}

header .header_eyebrow {
  background-color: #626466;
  background: #f7f7f7;
  color: #102B4E;
  font-size: 12px;
  font-weight: bold;
}

header .header_eyebrow .row {
  padding: 0;
  margin: 0;
}

header .header_eyebrow .header_eyebrow-leff {
  height: 40px;
  text-align: left;
  padding: 0 0 0 45px;
  line-height: 40px;
  letter-spacing: .5px;
}

header .header_eyebrow .img1 {
  position: relative;
  width: 48px;
  height: 34px;
}

header .header_eyebrow .img2 {
  position: absolute;
  top: 0px;
  left: 45px;
  opacity: 0;
  width: 48px;
  height: 34px;
}

header .header_eyebrow:hover {
  cursor: pointer;
}

header .header_eyebrow:hover .img1 {
  opacity: 0;
}

header .header_eyebrow:hover .img2 {
  opacity: 1;
}

header .header_eyebrow:hover span {
  color: #0276b3;
  font-size: 12px;
  font-weight: bold;
}

header .header_eyebrow-right {
  height: 40px;
  line-height: 40px;
  padding: 0 45px 0 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header .header_eyebrow-right span {
  color: #0276b3;
  font-size: 12px;
  font-weight: 600;
}

header .header_eyebrow-right li {
  line-height: 30px;
}

header .header_eyebrow-right:hover {
  color: #0276b3;
  font-size: 12px;
  font-weight: bold;
}

.header_nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 60px;
}

.header_nav .header_logo {
  padding: 0 0 0 45px;
}

.header_nav .header_logo img {
  width: 93px;
  height: 35px;
  background-size: 400px 200px;
  display: inline-block;
  margin: 11px 35px 0 0;
  cursor: pointer;
}

.header_nav .header_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: white;
  margin: 0;
}

.header_nav .header_text2 {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_nav .header_left ul li:hover {
  border: none;
}

.header_nav .header_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav .header_left ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

.header_nav .header_left ul li {
  list-style: none;
  padding: 6px;
  line-height: 30px;
  margin: 8px;
}

.header_nav .header_left ul li a {
  cursor: pointer;
  color: #0276b3;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 0;
}

.header_nav .header_left ul:hover {
  color: #102B4E;
}

.header_nav .header_right {
  padding: 0 45px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_nav .header_right ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 5px 10px;
}

.header_nav .header_right ul .fa {
  color: #0276b3;
  font-size: 14px;
  font-weight: 600;
  line-height: 45px;
}

.header_nav .header_right ul li {
  list-style: none;
  padding: 10px -2;
  line-height: 30px;
  margin: 8px;
}

.header_nav .header_right ul li a {
  cursor: pointer;
  color: #0276b3;
  font-size: 12px;
  font-weight: 600;
}

.header_nav .header_right ul li:hover a {
  color: #102B4E;
}

.header_nav .content ul {
  padding: 0 45px;
}

.header_nav .mega-box {
  position: absolute;
  top: 60px;
  left: -254px;
  width: 217.1%;
  min-height: 100%;
  max-height: 965%;
  margin-top: 15px -2;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  overflow-y: scroll;
  scroll-behavior: smooth;
  background: white;
}

.header_nav .mega-box ul {
  word-wrap: break-word;
  display: block;
  background: white;
}

.header_nav .mega-box ul .row {
  padding: 9px 0px;
}

.header_nav .mega-box .column-vehicle-item {
  margin: 0;
}

.header_nav .mega-box .vehicle-tile {
  max-width: 260px;
}

.header_nav .mega-box .vehicle-tile-top .badges-container {
  min-height: 30px;
}

.header_nav .mega-box .vehicle-tile-top .badges-container i {
  color: #6aad40;
}

.header_nav .mega-box .vehicle-tile-top .badges-container span {
  color: #4d4d4d;
  font-size: 12px;
  font-weight: normal;
}

.header_nav .mega-box .vehicle-tile-top .badges-img {
  cursor: pointer;
  width: 164px;
  height: 74px;
}

.header_nav .mega-box .vehicle-tile-top .badges-img img {
  width: 100%;
}

.header_nav .mega-box .vehicle-name-container {
  text-transform: uppercase;
  padding: 3px 0 7px;
  color: #102B4E;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.header_nav .mega-box .vehicle-name-container .fa {
  opacity: 0;
}

.header_nav .mega-box .vehicle-name-container:hover .fa {
  opacity: 1;
}

.header_nav .mega-box .vehicle-info .price-wrap span {
  color: #4d4d4d;
  font-size: 12px;
  font-weight: normal;
}

.header_nav .mega-box .vehicle-info .make-info .cta-wrap {
  margin-bottom: 0;
  font-weight: normal;
  text-align: left;
  cursor: pointer;
  padding: 6px 0px;
  font-size: 14px;
  line-height: 1.42857143;
}

.header_nav .mega-box .vehicle-info .make-info .cta-wrap a {
  text-decoration: none;
}

.header_nav .mega-box .vehicle-info .make-info .cta-wrap a span {
  color: #0276b3;
  font-size: 14px;
  font-weight: normal;
  border-bottom: 1px solid #37A9E8;
}

.header_nav .mega-box .vehicle-info .make-info .cta-wrap:hover span {
  border-bottom: 1px solid #092A46;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.header_nav .mega-box .segment-menu-item-ftr {
  background-color: #f7f7f7;
  width: 100%;
}

.header_nav .mega-box .segment-menu-item-ftr .ct-container {
  padding: 14px 42px;
}

.header_nav .mega-box .segment-menu-item-ftr .ct-container .cta-wap {
  width: 186px;
  height: 37px;
  background-color: #0276b3;
  border-radius: 20px;
  text-align: center;
  line-height: 37px;
  margin: 0 9px;
  cursor: pointer;
}

.header_nav .mega-box .segment-menu-item-ftr .ct-container .cta-wap span {
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
}

.header_nav .mega-box .segment-menu-item-ftr .ct-container .cta-wap:hover {
  background-color: #ffffff;
  border: 1px solid #102B4E;
}

.header_nav .mega-box .segment-menu-item-ftr .ct-container .cta-wap:hover span {
  color: #102B4E;
  font-size: 12px;
  font-weight: bold;
}

.header_nav #mega-box2 div.row {
  width: 100%;
}

.header_nav #mega-box3 div.row {
  width: 100%;
}

.header_nav #mega-box4 div.row {
  width: 100%;
}

.header_nav #mega-box5 .column-wrap-container-heard {
  width: 100%;
  background: #f7f7f7;
}

.header_nav #mega-box5 ul {
  padding: 0 0 0 35px;
}

.header_nav #mega-box5 ul .row {
  padding: 20px 25px;
}

.header_nav #mega-box5 div.vehicle,
.header_nav #mega-box5 .anchor-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f7f7f7;
  min-height: 40px;
  width: 100%;
  padding: 0;
  margin: 0;
}

.header_nav #mega-box5 div.vehicle button,
.header_nav #mega-box5 .anchor-bar-container button {
  border: none;
  background: none;
  color: #0276b3;
  font-size: 14px;
  font-weight: normal;
  padding: 0 8px;
}

.header_nav #mega-box5 ul .vehicle {
  background: white;
  padding: 50px 20px 0;
}

.header_nav #mega-box5 ul .vehicle h3 {
  color: #333333;
  font-size: 24px;
  font-weight: normal;
  letter-spacing: 5px;
  text-align: center;
}

.header_nav #mega-box5 .vehicle-car {
  width: 100%;
}

.header_nav #mega-box5 .content .ct-container {
  -webkit-box-pack: end !important;
      -ms-flex-pack: end !important;
          justify-content: flex-end !important;
}

.header-fix {
  /*-----------------------===========----------------------- */
}

@media screen and (max-width: 1440px) {
  .header-fix .header_nav .mega-box {
    top: 56.9px;
    left: -180px;
    width: 196.5%;
  }
  .header-fix .header_nav .header_left ul li {
    margin: 0;
    padding: 0;
  }
}

@media screen and (max-width: 1200px) {
  .header-fix .header_nav .mega-box {
    top: 52px;
    left: -136px;
    width: 163.5%;
  }
}

@media screen and (max-width: 1440px) {
  .header-fix .header_nav .header_text2 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -ms-flex-direction: row;
        flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-right: 0;
    padding-left: 0;
  }
  .header-fix .header_nav .header_right {
    padding-right: 25px;
  }
  .header-fix .header_nav .header_left ul .header_menu {
    padding: 3px;
    margin: 4px;
  }
}

@media screen and (max-width: 1200px) {
  .header-fix .header_nav .header_right ul .myAccount {
    opacity: 0;
    display: none;
  }
  .header-fix .header_nav .header_right ul li {
    margin: 4px;
  }
  .header-fix .header_nav .header_right {
    padding-right: 20px;
  }
}

.header-two {
  opacity: 0;
  visibility: hidden;
  display: none;
}

@media screen and (max-width: 992px) {
  .header-fix {
    opacity: 0;
    display: none;
  }
  .header-two {
    background: white;
    height: 60px;
    opacity: 1;
    display: block;
    visibility: visible;
    overflow: visible;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 99999;
  }
  .header-two .container-full {
    padding: 0 30px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .header-two .container-full .header_left2 {
    text-align: center;
    margin: auto 0;
    font-size: 10px;
  }
  .header-two .container-full .header_left2 i {
    font-size: 25px;
  }
  .header-two .container-full .header_left2 p {
    margin: 0;
  }
  .header-two .header_logo2 img {
    width: 93px;
    height: 35px;
    text-align: center;
    display: inline-block;
  }
  .header-two .header_logo2 {
    line-height: 60px;
  }
}

#fordCarousel .carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 1px 12px;
  border: 1px solid #ffffff;
  opacity: 1;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

#fordCarousel .carousel-indicators li.active {
  background-color: transparent;
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

#fordCarousel .carousel-control-prev {
  z-index: 1000;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55px;
  height: 65px;
  background-color: rgba(85, 85, 85, 0.8);
  border: 1px solid transparent;
  opacity: 1;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

#fordCarousel .carousel-control-prev span {
  font-size: 42px;
}

#fordCarousel .carousel-control-prev:hover {
  background-color: #ffffff;
  border: 1px solid #0276B3;
  border-left: 0;
  color: #0276B3;
}

#fordCarousel .carousel-control-next {
  z-index: 1000;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 55px;
  height: 65px;
  background-color: rgba(85, 85, 85, 0.8);
  opacity: 1;
}

#fordCarousel .carousel-control-next span {
  font-size: 42px;
}

#fordCarousel .carousel-control-next:hover {
  background-color: #ffffff;
  border: 1px solid #0276B3;
  border-right: 0;
  color: #0276B3;
}

#fordCarousel .carousel-item .carousel-caption {
  top: 40px;
  bottom: 50px;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
  padding: 0 95px;
  text-align: left;
}

#fordCarousel .carousel-item .carousel-caption a {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

#fordCarousel .carousel-item .carousel-caption a h2 {
  color: #ffffff;
  font-size: 42px;
  font-weight: normal;
}

#fordCarousel .carousel-item .carousel-caption a p {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
}

#fordCarousel .carousel-item .carousel-caption a .text {
  display: block;
  padding: 20px 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

#fordCarousel .carousel-item .carousel-caption a .text i {
  font-size: 12px;
  display: inline-block;
  width: 25px;
  height: 25px;
  line-height: 23px;
  border-radius: 50%;
  border: 1px solid #ffffff;
  text-align: center;
  margin-left: 10px;
}

#fordCarousel .carousel-item .carousel-caption a:hover .whiteBtn {
  background-color: #ffffff;
  border-color: #102B4E;
  color: #102B4E;
}

#fordCarousel .carousel-item .carousel-caption a:hover .text i {
  background-color: #ffffff;
  color: #626466;
}

@media screen and (max-width: 1440px) {
  #fordCarousel .carousel-item .carousel-caption {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 992px) {
  #fordCarousel .carousel-item .carousel-caption {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  #fordCarousel .carousel-item .carousel-caption {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    top: 0;
  }
  #fordCarousel .carousel-control-prev, #fordCarousel .carousel-control-next {
    display: none;
  }
}

@media screen and (max-width: 480px) {
  #fordCarousel .carousel-item .carousel-caption {
    padding-left: 15px;
    padding-right: 15px;
  }
  #fordCarousel .carousel-item .carousel-caption .fordCarousel__text p {
    display: none;
  }
}

.vehicles {
  padding-top: 20px;
}

.vehicles .vehicles__content {
  text-align: center;
  margin-bottom: 2.5rem;
}

.vehicles .vehicles__content p:nth-child(2) {
  color: #333333;
  font-size: 16px;
  font-weight: normal;
  padding-top: 2px;
  margin: 0;
}

.vehicles .vehicles__content p:last-child {
  margin-bottom: 1rem;
}

@media screen and (max-width: 768px) {
  .vehicles .vehicles__content {
    padding-left: 25px;
    padding-right: 25px;
  }
  .vehicles .vehicles__content p:nth-child(2) {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .vehicles .vehicles__content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.xmas .xmas__content {
  position: relative;
}

.xmas .xmas__content .xmas__link {
  position: absolute;
  top: 40px;
  bottom: 40px;
  display: block;
  width: 100%;
  padding-left: 95px;
  padding-right: 95px;
}

.xmas .xmas__content .xmas__link .xmas__wrap {
  position: relative;
  width: 100%;
  height: 100%;
}

.xmas .xmas__content .xmas__link .xmas__wrap a {
  color: #ffffff;
  font-size: 18px;
  font-weight: normal;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.xmas .xmas__content .xmas__link .xmas__wrap a .xmas__wrapct {
  position: absolute;
  top: 85%;
  left: 45%;
  padding: 2px;
}

.xmas .xmas__content .xmas__link .xmas__wrap a .xmas__wrapct p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 8px;
  margin-bottom: 0;
  padding: 10px 15px;
}

.xmas .xmas__content .xmas__link .xmas__wrap a .xmas__wrapct p span:first-child {
  padding-right: 10px;
}

.xmas .xmas__content .xmas__link .xmas__wrap a .xmas__wrapct p .xmas__icon {
  display: inline-block;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.xmas .xmas__content .xmas__link .xmas__wrap:hover .xmas__icon {
  background-color: #ffffff;
  color: #22773e;
}

@media screen and (max-width: 1440px) {
  .xmas .xmas__content .xmas__link {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 992px) {
  .xmas .xmas__content .xmas__link {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .xmas .xmas__content .xmas__link {
    padding-left: 25px;
    padding-right: 25px;
  }
  .xmas .xmas__content .xmas__link .xmas__wrap a .xmas__wrapct {
    top: 85%;
    left: 32%;
  }
}

@media screen and (max-width: 480px) {
  .xmas .xmas__content .xmas__link {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.news .news__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
}

.news .news__content .news__item {
  overflow: hidden;
  position: relative;
}

.news .news__content .news__item .news__wrap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 20px;
  background: rgba(6, 120, 188, 0.9);
  color: #ffffff;
  font-size: 12px;
  font-weight: normal;
  padding: 4%;
  padding-right: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.news .news__content .news__item .news__wrap span:first-child {
  padding-right: 25px;
}

.news .news__content .news__item .news__wrap .news__icon {
  display: block;
  height: 30px;
  width: 30px;
  min-width: 30px;
  min-height: 30px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  text-align: center;
  line-height: 28px;
  font-size: 14px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.news .news__content .news__item .news__wrap .news__icon:hover {
  background-color: #ffffff;
  color: #0276B3;
}

.news .news__content .news__item:hover .news__img img {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.news .news__content .item1 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / span 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.news .news__content .item1 h2 {
  color: #333333;
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 0;
}

.news .news__content .item1 p {
  color: #626466;
  font-size: 16px;
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.news .news__content .item3 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  grid-row: 2 / span 2;
}

.news .news__content .item3 .news__wrap {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  padding: 2%;
  padding-right: 45px;
}

.news .news__content .item3 .news__wrap span:first-child {
  padding-right: 35px;
}

.news .news__content .item3 .news__wrap .news__icon {
  height: 50px;
  width: 50px;
  min-height: 50px;
  min-width: 50px;
  border: 2px solid #ffffff;
  font-size: 25px;
  line-height: 47px;
}

.news .news__view {
  text-align: center;
  padding: 15px 0;
  cursor: pointer;
  background: #0276B3;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

.news .news__view span:first-child {
  padding-right: 10px;
}

@media screen and (max-width: 768px) {
  .news .news__content {
    display: block;
  }
  .news .news__content .item1 h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding: 3rem 0;
  }
  .news .news__content .item1 p {
    display: none;
  }
  .news .news__content .news__item .news__wrap {
    font-size: 16px;
    padding-top: 4%;
    padding-bottom: 4%;
    padding-left: 25px;
    padding-right: 45px;
  }
  .news .news__content .news__item .news__wrap .news__icon {
    height: 30px;
    width: 30px;
    min-width: 30px;
    min-height: 30px;
    font-size: 14px;
    line-height: 28px;
    border: 2px solid #ffffff;
  }
  .news .news__content .mb-hide {
    display: none;
  }
  .news .news__content .mb-show {
    display: block;
  }
}

.airbag {
  background-color: #f7f7f7;
}

.airbag .airbag__content {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 25px;
}

.airbag .airbag__content h2 {
  color: #D92E14;
}

.disclosures .disclosures__heading h2 {
  padding: 30px 20px;
  margin-bottom: 0;
}

.disclosures .disclosures__heading h2 button {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  padding: 10px 6px;
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0;
  color: #0276B3;
  font-size: 16px;
  font-weight: normal;
  text-transform: uppercase;
}

.disclosures .disclosures__heading h2 button span {
  vertical-align: center;
  padding-right: 5px;
}

.disclosures .disclosures__heading h2 button i {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.disclosures .disclosures__heading h2 button:focus {
  outline: none;
}

.disclosures .disclosures__content {
  background-color: #f7f7f7;
  max-height: 0;
  width: 100%;
  overflow: hidden;
  font-size: 14px;
  margin-bottom: 10px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.disclosures .disclosures__content .disclosures__text {
  color: #333333;
  font-size: 12px;
  font-weight: normal;
  padding: 40px 95px;
  list-style: none;
}

.disclosures .disclosures__content .disclosures__text a {
  color: #0276B3;
}

.disclosures .disclosures__content .disclosures__text:focus {
  outline: none;
}

.disclosures .disclosures__content::-webkit-scrollbar {
  height: 10px;
  overflow: hidden;
  width: 1.1rem;
}

.disclosures .disclosures__content::-webkit-scrollbar-thumb {
  width: 1.1rem;
  background-color: #0276B3;
}

.disclosures .disclosures__content::-webkit-scrollbar-track {
  background-color: #ccc;
  width: 1.1rem;
}

.disclosures.open .disclosures__heading h2 button i {
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.disclosures.open .disclosures__content {
  max-height: 240px;
  overflow-y: scroll;
}

@media screen and (max-width: 1440px) {
  .disclosures .disclosures__content .disclosures__text {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 992px) {
  .disclosures .disclosures__content .disclosures__text {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 768px) {
  .disclosures .disclosures__content .disclosures__text {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 480px) {
  .disclosures .disclosures__content .disclosures__text {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.banner {
  padding-top: 2rem;
  background: #092A46;
  text-align: center;
}

.banner h2 {
  color: #ffffff;
}

.banner p {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  margin-bottom: 0;
}

.banner p .blueBtn {
  width: auto;
  min-width: 270px;
  margin-top: 1rem;
}

.banner p .blueBtn:hover {
  background-color: #ffffff;
  border-color: #102B4E;
  color: #102B4E;
}

.banner p:nth-child(2) a {
  text-decoration: underline;
  color: #37A9E8;
}

.banner p:last-child {
  padding-bottom: 2rem;
}

@media screen and (max-width: 768px) {
  .banner h2, .banner p {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 480px) {
  .banner h2, .banner p {
    padding-left: 15px;
    padding-right: 15px;
  }
}

footer .footer__first {
  padding: 3rem 0;
  background-color: #333333;
}

footer .footer__first .footer__search {
  padding: 0 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__first .footer__search .form-group {
  margin-bottom: 0;
}

footer .footer__first .footer__search .form-group .form-control {
  background-color: inherit;
  padding: 0;
  border: none;
  border-radius: none;
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

footer .footer__first .footer__search .form-group .form-control::-webkit-input-placeholder {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

footer .footer__first .footer__search .form-group .form-control:-ms-input-placeholder {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

footer .footer__first .footer__search .form-group .form-control::-ms-input-placeholder {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

footer .footer__first .footer__search .form-group .form-control::placeholder {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
}

footer .footer__first .footer__search .form-group .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}

footer .footer__first .footer__search .form-group .input-group-text {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  background-color: inherit;
  border: none;
}

footer .footer__first .footer__popular {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 5px;
}

footer .footer__first .footer__popular span {
  padding-left: 0;
  padding-right: 10px;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
}

footer .footer__first .footer__popular ul .list-group-item {
  background-color: inherit;
  border: none;
  border-radius: 0;
  padding: 0 5px;
}

footer .footer__first .footer__popular ul .list-group-item a {
  color: #A7A7A7;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .footer__first .footer__popular ul .list-group-item:hover a {
  color: #ffffff;
}

footer .footer__main {
  background-color: #242424;
}

footer .footer__main nav {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

footer .footer__main nav .navbar-nav:first-child {
  width: 40%;
}

footer .footer__main nav .navbar-nav:nth-child(2) {
  width: 60%;
}

footer .footer__main nav .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

footer .footer__main nav .navbar-nav li .list-heading {
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
  padding: 25px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer__main nav .navbar-nav li .list-heading .icon {
  display: none;
}

footer .footer__main nav .navbar-nav li .navbar-nav {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  padding-bottom: 30px;
}

footer .footer__main nav .navbar-nav li .navbar-nav a {
  color: #A7A7A7;
  font-size: 14px;
  font-weight: normal;
  display: block;
  line-height: 2.1rem;
  padding: 3px 25px 5px 18px;
}

footer .footer__main nav .navbar-nav li .navbar-nav a:hover {
  color: #ffffff;
}

footer .footer__main nav .navbar-nav .vehicles {
  padding-top: 0;
  width: 50%;
}

footer .footer__main nav .navbar-nav .vehicles .list-heading {
  padding-left: 0;
}

footer .footer__main nav .navbar-nav .vehicles .navbar-nav a {
  padding-left: 0;
}

footer .footer__main nav .navbar-nav .shop {
  width: 50%;
}

footer .footer__main nav .navbar-nav .shop .list-heading {
  padding-left: 0;
}

footer .footer__main nav .navbar-nav .shop .navbar-nav a {
  padding-left: 0;
}

footer .footer__main nav .navbar-nav .finance {
  width: 33.33%;
}

footer .footer__main nav .navbar-nav .owner {
  width: 33.33%;
}

footer .footer__main nav .navbar-nav .experience {
  width: 33.33%;
}

footer .footer__main .navbar-inverse {
  padding: 25px 95px 90px;
  min-height: 475px;
}

footer .footer__secondary {
  background-color: #102B4E;
}

footer .footer__secondary .secondary__content {
  padding: 32px 95px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__secondary .secondary__content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer__secondary .secondary__content .navbar-nav li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #37A9E8;
  font-size: 18px;
  font-weight: normal;
}

footer .footer__secondary .secondary__content .navbar-nav li a i {
  padding-right: 20px;
  font-size: 40px;
}

footer .footer__secondary .secondary__content .navbar-nav li:last-child {
  margin-left: 50px;
}

footer .footer__secondary .secondary__content .social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer__secondary .secondary__content .social-links p {
  color: #ffffff;
  font-size: 14px;
  font-weight: normal;
  margin: 0 25px 0 0;
}

footer .footer__secondary .secondary__content .social-links ul {
  margin: 0;
}

footer .footer__secondary .secondary__content .social-links ul li {
  display: inline-block;
}

footer .footer__secondary .secondary__content .social-links ul li a {
  margin-right: 3px;
}

footer .footer__secondary .secondary__content .social-links ul li a .fabook-icon {
  background: transparent url(../img/logo.png) no-repeat 0 0;
  height: 40px;
  width: 35px;
  background-size: 400px 200px;
  display: inline-block;
}

footer .footer__secondary .secondary__content .social-links ul li a .twitter-icon {
  background: transparent url(../img/logo.png) no-repeat -40px 0;
  height: 40px;
  width: 35px;
  background-size: 400px 200px;
  display: inline-block;
}

footer .footer__secondary .secondary__content .social-links ul li a .youtube-icon {
  background: transparent url(../img/logo.png) no-repeat -80px 0;
  height: 40px;
  width: 35px;
  background-size: 400px 200px;
  display: inline-block;
}

footer .footer__secondary .secondary__content .social-links ul li a .instagram-icon {
  background: transparent url(../img/logo.png) no-repeat -120px 0;
  height: 40px;
  width: 35px;
  background-size: 400px 200px;
  display: inline-block;
}

footer .footer__tertiary {
  background-color: #f7f7f7;
  padding: 25px 0 50px;
  border: 1px solid #e7e7e7;
  border-top: none;
}

footer .footer__tertiary .tertiary__content {
  position: relative;
  padding-left: 95px;
  padding-right: 95px;
}

footer .footer__tertiary .tertiary__content .language-selector {
  display: inline-block;
  padding: 15px 0;
}

footer .footer__tertiary .tertiary__content .language-selector a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: underline;
  color: #0276B3;
  font-size: 14px;
  font-weight: normal;
}

footer .footer__tertiary .tertiary__content .language-selector a .icon {
  font-size: 25px;
  padding-right: 25px;
}

footer .footer__tertiary .tertiary__content .language-selector a:hover {
  color: #102B4E;
}

footer .footer__tertiary .tertiary__content .copyright a {
  display: inline-block;
  padding: 5px 25px 5px 0;
  color: #555555;
  font-size: 14px;
  font-weight: normal;
}

footer .footer__tertiary .tertiary__content .navbar-nav {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

footer .footer__tertiary .tertiary__content .navbar-nav li a {
  display: inline-block;
  padding: 5px 25px 5px 0;
  color: #555555;
  font-size: 14px;
  font-weight: normal;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

footer .footer__tertiary .tertiary__content .navbar-nav li a:hover {
  color: #102B4E;
}

footer .footer__tertiary .tertiary__content .navbar-brand {
  position: absolute;
  right: 40px;
  top: 15px;
}

footer .footer__tertiary .tertiary__content .navbar-brand .brand-logo {
  background: transparent url(../img/logo.png) no-repeat -150px 0px;
  width: 73px;
  height: 26px;
  background-size: 300px 150px;
  padding: 0;
  margin: 0;
  display: block;
}

@media screen and (max-width: 1440px) {
  footer .footer__first .footer__search {
    padding-left: 45px;
    padding-right: 45px;
  }
  footer .footer__main .navbar-inverse {
    padding-left: 45px;
    padding-right: 45px;
  }
  footer .footer__secondary .secondary__content {
    padding-left: 45px;
    padding-right: 45px;
  }
  footer .footer__tertiary .tertiary__content {
    padding-left: 45px;
    padding-right: 45px;
  }
}

@media screen and (max-width: 1200px) {
  footer .footer__secondary .secondary__content {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  footer .footer__secondary .secondary__content .social-links {
    display: block;
  }
  footer .footer__secondary .secondary__content .social-links p {
    margin-bottom: 20px;
  }
  footer .footer__tertiary .tertiary__content .navbar-nav {
    max-width: 100%;
    width: 80%;
  }
}

@media screen and (max-width: 992px) {
  footer .footer__first .footer__search {
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .footer__main .navbar-inverse {
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child {
    width: 50%;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li .navbar-nav {
    width: 100%;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li .navbar-nav li {
    width: 100%;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) {
    width: 50%;
    display: block;
    margin: 0 auto;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li {
    width: 100%;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .list-heading {
    border-bottom: 1px solid #555555;
    cursor: pointer;
    padding: 21px 36px;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .list-heading .icon {
    display: block;
    font-size: 20px;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .navbar-nav {
    padding-top: 30px;
    border-bottom: 1px solid #555555;
    width: 100%;
    display: none;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .navbar-nav.active {
    display: block;
  }
  footer .footer__secondary .secondary__content {
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .footer__tertiary {
    padding-bottom: 40px;
  }
  footer .footer__tertiary .tertiary__content {
    padding-left: 30px;
    padding-right: 30px;
  }
  footer .footer__tertiary .tertiary__content .navbar-nav {
    max-width: 500px;
  }
}

@media screen and (max-width: 768px) {
  footer .footer__first .footer__search {
    display: block;
    padding-left: 25px;
    padding-right: 25px;
  }
  footer .footer__main .navbar-inverse {
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 0;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child {
    width: 100%;
    display: block;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li {
    width: 100%;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li .list-heading {
    border-bottom: 1px solid #555555;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li .list-heading .icon {
    display: block;
    font-size: 20px;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li .navbar-nav {
    padding-top: 30px;
    border-bottom: 1px solid #555555;
    width: 100%;
    display: none;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li .navbar-nav .hide-on-mobile {
    display: none;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li .navbar-nav.active {
    display: block;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li:first-child .list-heading {
    cursor: pointer;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li:first-child .list-heading .icon {
    display: none;
  }
  footer .footer__main .navbar-inverse .navbar-nav:first-child li:first-child .navbar-nav {
    display: block;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) {
    width: 100%;
    display: block;
    margin: 0;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li {
    width: 100%;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .list-heading {
    border-bottom: 1px solid #555555;
    cursor: pointer;
    padding-left: 0;
    padding-right: 18px;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .list-heading .icon {
    display: block;
    font-size: 20px;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .navbar-nav {
    padding-top: 20px;
    border-bottom: 1px solid #555555;
    width: 100%;
    display: none;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li .navbar-nav.active {
    display: block;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li:last-child .list-heading {
    border-bottom: none;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li:last-child .navbar-nav {
    border-bottom: none;
  }
  footer .footer__main .navbar-inverse .navbar-nav:nth-child(2) li:last-child .navbar-nav.active {
    border-top: 1px solid #555555;
  }
  footer .footer__secondary .secondary__content {
    padding: 0 25px;
    display: block;
  }
  footer .footer__secondary .secondary__content .navbar-nav li {
    width: 100%;
    border-bottom: 1px solid #788691;
  }
  footer .footer__secondary .secondary__content .navbar-nav li a {
    padding: 20px 0;
  }
  footer .footer__secondary .secondary__content .social-links {
    padding: 15px 0 40px;
  }
  footer .footer__tertiary {
    padding-bottom: 25px;
  }
  footer .footer__tertiary .tertiary__content {
    padding-left: 25px;
    padding-right: 25px;
  }
  footer .footer__tertiary .tertiary__content .language-selector {
    padding-top: 5px;
  }
  footer .footer__tertiary .tertiary__content .copyright a {
    padding: 5px 25px;
  }
  footer .footer__tertiary .tertiary__content .navbar-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    max-width: 100%;
  }
  footer .footer__tertiary .tertiary__content .navbar-nav li a {
    padding: 5px 25px;
    display: block;
  }
  footer .footer__tertiary .tertiary__content .navbar-brand {
    position: static;
    margin-left: 5px;
  }
}

@media screen and (max-width: 480px) {
  footer .footer__first .footer__search {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .footer__first .footer__search .footer__popular {
    display: block;
  }
  footer .footer__first .footer__search .footer__popular ul {
    margin-left: -5px;
  }
  footer .footer__main .navbar-inverse {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .footer__secondary .secondary__content {
    padding-left: 15px;
    padding-right: 15px;
  }
  footer .footer__tertiary .tertiary__content {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.backtotop {
  color: #ffffff;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  line-height: 43px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  right: 15px;
  bottom: 50px;
  cursor: pointer;
  margin-right: 15px;
  display: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.backtotop:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.backtotop.show {
  opacity: 1;
  -webkit-animation: toLeft 0.3s;
          animation: toLeft 0.3s;
  display: inline;
}

@-webkit-keyframes toLeft {
  0% {
    margin-right: -15px;
  }
  100% {
    margin-right: 15px;
  }
}

@keyframes toLeft {
  0% {
    margin-right: -15px;
  }
  100% {
    margin-right: 15px;
  }
}

.opinion__open {
  cursor: pointer;
}

.opinion__modal {
  width: 80%;
  max-height: 90%;
  max-width: 500px;
  margin: auto;
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 1001;
  /* Sit on top */
  overflow: scroll;
}

.opinion__modal .opinion__content .opinion__header {
  position: relative;
}

.opinion__modal .opinion__content .opinion__header .opinion__close {
  position: absolute;
  top: 2px;
  right: 15px;
  cursor: pointer;
  color: #ffffff;
  font-size: 16px;
  font-weight: normal;
}

.opinion__modal .opinion__content .opinion__header img {
  background-color: #242424;
}

.opinion__modal .opinion__content .opinion__body {
  background-color: #ffffff;
  -webkit-box-shadow: #cccccc 0px 0px 0px 1px inset;
          box-shadow: #cccccc 0px 0px 0px 1px inset;
  text-align: center;
  padding: 30px 50px 20px;
}

.opinion__modal .opinion__content .opinion__body p {
  margin: 0;
  padding: 20px 0;
  color: #000000;
  font-size: 18px;
  font-weight: normal;
}

.opinion__modal .opinion__content .opinion__body .navbar-nav a {
  display: block;
  margin-bottom: 20px;
  padding: 12px 0 13px;
  color: #0276B3;
  font-size: 21px;
  font-weight: normal;
}

.opinion__modal .opinion__content .opinion__body .opinion__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: center;
      align-self: center;
  border-top: 0.8px solid #cccccc;
  margin-top: 10px;
  padding-top: 20px;
}

.opinion__modal .opinion__content .opinion__body .opinion__footer img {
  width: 120px;
}

@media screen and (max-width: 992px) {
  .opinion__modal .opinion__content .opinion__body {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media screen and (max-width: 480px) {
  .opinion__modal .opinion__content .opinion__body {
    padding: 15px;
  }
  .opinion__modal .opinion__content .opinion__body p {
    padding: 10px 0;
  }
  .opinion__modal .opinion__content .opinion__body .navbar-nav a {
    margin-bottom: 10px;
  }
}
/*# sourceMappingURL=main.css.map */