.backtotop {
    @include styleText($color-white-0, 24px, $fw-normal);
    text-align: center;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    line-height: 43px;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    // z-index: 1000;
    right: 15px;
    bottom: 50px;
    cursor: pointer;
    margin-right: 15px;
    // Ẩn
    display: none;
    opacity: 0;
    transition: all 0.3s;
    &:hover {
        background-color: rgba(0, 0, 0, 0.4);
    }
}

.backtotop.show {
    opacity: 1;
    animation: toLeft 0.3s;
    display: inline;
}

@keyframes toLeft {
    0% {
        margin-right: -15px;
    }
    ;
    100% {
        margin-right: 15px;
    }
    ;
}